.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    background: #0f4c75;
    color: white;
}

.header__user{
    display: flex;
    align-items: center;
}

.header__user > p, a{
    margin-left: 10px;
}

.header__user > a{
    text-decoration: underline;
}

.header__user > a:hover{
    cursor: pointer;
}